
.main_content {
    display: block;
    width: 100%;
    background-color: #333;
    height: 100%;
    background-color: #222;
}

.main_content h1 {
    color: #ccc;
    padding: 50px 0px 0px 50px;
    font-size: 48px;
    box-sizing: border-box;
}

.search_box {
    padding: 40px;
}

.input_section {
    float: left;
    width: 50%;
    padding: 40px;
    text-align: center;
}

.input_section label {
    width: 100%;
    float: left;
    color: #ccc;
    font-size: 30px;
    box-sizing: border-box;
}

.input_section input {
    width: 100%;
    float: right;
    font-size: 25px;
    font-family: inherit;
}

.button {
    display: block;
    margin: auto;
    box-sizing: border-box;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 30px 80px 30px 80px;
    color: #ccc;
    background-color: #333;
    border-width: 0;
    border-style: none;
    text-align: center;
    font-family: inherit;
    font-size: 20px;
}

.button:hover {
    background-color: #444;
}

.button:active {
    background-color: #555;
}

@media(max-width: 800px) {
    .main_content {
        padding-top: 80px;
    }
    .main_content h1 {
        width: 100%;
        text-align: center;
        padding: 25px;
        margin: 0;
    }
    .input_section label {
        display: block;
        width: 100%;
        padding: 10px;
    }
    .input_section input {
        display: block;
        width: 100%;
    }
    .button {
        width: 100%;
    }
}
